{% extends 'base.html' %}
{% block main %}

<form action="/solve" method="post">
  <table>
  {% for y in range(9) %}
   <tr>
    {% for x in range(9) %}
    <td>
	    {% if solution %}
		    <input name="{{x}}-{{y}}" value="{{solution[y][x]}}" class="box" /> 
	    {% else %}
		    <input name="{{x}}-{{y}}" class="box" /> 
	    {% endif %}
    </td>
    {% endfor %}
   </tr>
  {% endfor %}
  </table>
  <input type="submit" value="Solve!">
  <a href="/">New</a>
</form>

{% endblock %}
